body {
    background-color: black;
    color: white;
}

.closes-login-page {
    display: flex;
    justify-content: end;
}

h1 {
    margin-left: 12rem;
    margin-top: 4rem;

}

h2 {
    margin-left: 12rem;

}


footer {}

a {
    color: white;
    /* Is only meant for Terms of use stuff. */

    justify-content: space-evenly;

}

a:link {
    text-decoration: none;
    /* Removes the underline from the Terms of use stuff. */
}